<!--body part-->

<div class="body">
    <div class="body-left">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sint molestias nulla voluptatem,
        reprehenderit totam corporis temporibus unde? Perferendis doloribus laboriosam tenetur corrupti delectus,
        quas voluptate vel ipsum atque labore, eaque odit eum. Ad corrupti rem exercitationem voluptatem quam
        natus reiciendis iusto quis in, temporibus repudiandae atque consectetur
        a molestias dolore illum? Temporibus, tenetur ipsa culpa necessitatibus repellendus illo blanditiis.
    </div>
    <div class="body-right">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatum vero officia, molestias ea expedita a
        aperiam
        atque exercitationem cumque debitis suscipit deserunt eum facere enim veritatis dignissimos
        fugiat nostrum!
    </div>
</div>
